.head {
    text-align: center;
    padding-top: 2.5%;
}

.head-link {
    display:flex;
    justify-content:left;
    margin-left: 29vw;
    margin-bottom: 2%;
}

.head-link button {
    border: 0;
    background: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    color: rgb(47, 85, 255);
  }

  .res {
    display:flex;
    justify-content:center;
    flex-direction: column;
    width: 150px;
    text-align: center;
    font-size: 10px;
  }
  
  
  ul {
    list-style: none;
    flex-wrap: wrap;
    display: flex;
  }
  
  ul li {
    flex: 1 0 5%;
  }
  
  img {
    max-width: 50px;
    align-self: center;
    margin-bottom: 2.5vh;;
  }
  
  .favorite {
    display: flex;
    justify-content:flex-end;
    width: 120px;
    padding-right: 2vw;
  }
  
  .favorite button {
    border: 0;
    background: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .headFav {
    display:flex;
    justify-content:left;
    margin-left: 10vw;
    margin-bottom: 2%;
    padding-top: 5vh;
  }
  
  .headFav button {
    border: 0;
    background: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    color: rgb(47, 85, 255);
  }
  